.education-section{
    padding: 120px 80px;
    text-align: center;
    
    color: white;
    /* margin-top: 40px; */
 
}

.education-title{
  font-size: 2rem;
  margin-top: 40px; 
  padding-bottom: 50px;
 
}


.education-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
     gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
    
}

.education-card{
    /* padding: 15px 18px; 
    */
    /* width: 270px; */
    padding: 20px;
    border: 1px solid skyblue;
    /* margin-right: 50px;
    margin-top:30px ;
    margin-left: 50px; */
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.434);
   
    transition: all 0.3s ease;
    padding: 20px;
}

.education-card:hover{
    background-color: rgba(112, 128, 144, 0.069);
    border-color: rgb(120, 243, 243);
    
  
}   

.education-card h3 {
  font-size: 1.1rem;
  color: #7dd3fc;
}

.education-card p {
  font-size: 0.9rem;
  opacity: 0.85;
}
@media (max-width:425px){
    .education-title{
      padding-bottom: 50px;
    }
    .education-grid{
        grid-template-columns: 1fr;
        /* gap :10px;
        padding: 0 14px; */
      
    }
    .education-card{
  
        /* padding: 18px;
        max-width: 100%;
     */
      max-width: 320px;
    margin: 0 auto;
    }
    /* .education-card h3 {
        font-size: 1rem;
    }

    .education-card p {
        font-size: 0.85rem;
        line-height: 1.5;
    } */
}


@media (max-width: 768px) {
   .education-section {
    padding: 100px 24px;
  }

  .education-grid{
    /* gap:50px;*/
    padding: 0 16px; 
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr;
    gap: 50px;

  }
 
 
  .education-card{
    /* max-width: 320px;
    margin :0 auto;

     border-radius: 14px; */
    padding: 16px;
   
  }
  .education-card h3 {
    font-size: 1rem;
  }

  .education-card p {
    font-size: 0.85rem;
  }

  
}

@media (max-width:1024px){
  .education-grid{
    /* grid-template-columns:repeat(3,1fr) ; */
  }
}