.profile-section{
    position: relative;
    /* padding: 120px 80px ; */
    width: 100%;
    min-height: 100vh;
     padding-top: 120px;
   
}

.profile-text{
    color: white;
    padding-left: 20px;

}


.profile-name{
    font-size: 4rem;
    font-weight: 600;
    
    margin-bottom: 8px;
    text-shadow: 0 0 10px rgba(173, 216, 230, 0.4);
}
.profile-role{
    margin-top: 12px;
    font-size: 1.8rem;
    color: #7dd3fc;
    margin-bottom: 12px;
}

.profile-about{
    margin-top: 18px;
    font-size: 1rem ;
    color: #e5e7eb;
    max-width: 420px;
   
    opacity: 0.75;
}

.profile-photo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 6px;
    margin-left: 50px;
    background: radial-gradient(circle, rgba(125,211,252,0.4), transparent);
    /* animation: float 6s ease-in-out infinite; */

} 

.profile-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
    box-shadow: 0 0 18px rgba(125,211,252,1);
    user-select: none;
}

.profile-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 80px;
}

.other-details{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-right: 40px;
  
}

.detail-card{
    display: flex;
    flex-direction: column;
  
  
}


.num{
    
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1;
     color: #7dd3fc;
}
.content{
    font-size: 1rem;
    color: #e5e7eb;
    margin-top:6px ;
    opacity: 0.9;
}


@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-14px);
    }
    100%{
        transform:translateY(0);
    }
} 

@media (max-width:1024px){
    .profile-section{
        
        padding-top: 100px ;
    }
    .profile-text h1{
        font-size: 3rem;
    }
    .profile-photo img{
        width:240px;
        height:240px;
    }
    
   
}

@media  (max-width:768px){
    .profile-section{
       
       
         padding-top: 90px;
        text-align: center;
    }
    .profile-photo{
        width: 180px;
        height: 180px;
        
        background: none;
        margin-top: 20px;
        
    }
    .profile-wrapper{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .profile-text h1{
        font-size: 2.4rem;
    }
    .profile-text h2{
        font-size: 1.4rem;
    }
    .profile-text p{
        font-size: 0.95rem;
        max-width: 100%;

    }


    .other-details{
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
  }

  .detail-card {
    align-items: center;
  }
   

}

@media (max-width:480px){
    .profile-section{
        padding-top: 80px;
    }
    .profile-text h1{
        font-size: 2rem;
    }
    
    .profile-photo img{
        width: 170px;
        height: 170px;
    }

    .other-details{
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 48px;
  }

  .detail-card{
    padding-left: 40px;
    font-size: 3rem;
  }

}