.scroll-track{
    position:fixed;
    right: 5px;
    top: 120px;
    width: 6px;
    height: calc(100vh - 160px);
    background: rgba(255, 255, 255, 0.08);
    border-radius:6px;
    z-index: 999;
    
}

.scroll-thumb{
    width: 100%;
    height: 0%;
    transition: height 0.15s ease;
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(255, 142, 4, 0.7);
}