.about-section{
    color: aliceblue;
    padding-left: 120px 90px;
    text-align: center;
   
}

.about-title{
    font-size: 2rem;
    margin-bottom: 30px;
     

}
.about-name:hover{
 
    animation: color  0.5s alternate-reverse;
}


.about-content{
    max-width: 720px;
    margin: 0 auto 18px;
    font-size: 1.5rem;
    opacity: 0.6;
    line-height: 1.5;


}


.profile-photo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 6px;
    margin-left: 50px;
    background: radial-gradient(circle, rgba(125,211,252,0.4), transparent);
    /* animation: float 6s ease-in-out infinite; */

} 

.profile-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 18px rgba(125,211,252,1);
    user-select: none;
}

@media (max-width:425px){
    .about-content{
        max-width: 359px;
        text-align: center;
        line-height: 1.55;
        
       
       
    }
    .profile-photo{
       
    }
}
@media(max-width:768px){
    
}