.contact-section{
    padding:120px 80px;
    color:whitesmoke;
    text-align: center;
   
}

.contact-title{
    font-size: 2.5rem;
    margin-top: 20px;
}

.contact-text{
    max-width: 520px;
    margin:0 auto 40px;
    font-size: 1rem;
    opacity: 0.8;
}

.contact-links{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    
}

.contact-links a{
    display: flex;
   
    flex-direction: row;
    gap:50px;
    align-items: center; 
    transition: transform 0.3s ease,box-shadow 0.3s ease;


} 
.contact-links a:hover{
  transform: translateY(-4px);
}
.contact-links .icon{
   
    display: flex;
    object-fit: fit;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: none;

}
.github{
    width: 85px;
    height: 85px;
   
}

.resume{
    border: 1px solid skyblue;
    border-radius: 20px 36px;
    padding: 20px;
    /* margin: 60px 250px 0px 250px ; */
    margin:  60px auto 0;
   width:fit-content;
    color: whitesmoke;
}
.resume a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}
.resume:hover{
    border:2px solid rgb(96, 248, 248);
    box-shadow: 10px 10px 5px rgba(61, 210, 255, 0.3);
    background: transparent;
    

}




.contact-links a:hover{
    transform: translateY(-3px);
  
    
}


@media (max-width:425px){
   
    .contact-links a{
        display: flex;

        flex-direction: row;
        align-items:center ;
        justify-content: center;
        
       
        
    }
    .contact-links{
      
        display: flex;
        flex-direction: row;
        flex-flow: row;
        align-items: center;
        

    }
    .resume{
      
        /* margin:70px 0px 0px 0px ; */


    }
    .resume a{
        font-size: 1.2rem;
    }
    .contact-links img{
        width:42px;
        height:42px;
    }
    .github{
        width:42px;
        height:42px;
    }
    

}

@media (max-width:768px){

    .contact-section{
        padding: 100px 40px;
        margin-top: 70px;
    }
    .contact-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        gap:20px;
    
    }
    .contact-links a{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-flow: row;
    }
     .resume{
      
        /* margin:70px 0px 0px 0px ; */



    }
    .resume a{
        font-size: 1.2rem;
    }
   
    
}

@media (max-width:1024px){
     /* .resume{
      
        margin:70px 200px 0px 200px ;


    } */
   } 


