.navbar-icon{
    position: fixed;
    top: 24px;
    left: 24px;

    width: 40px;
    height: 32px;
    cursor: pointer;
    z-index: 1001;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: center;
    transition: transform 0.45s ease;
    gap: 8px;
}

.navbar-icon span{
   
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
    transform-origin: center;
   
    transition: transform 0.45s ease,opacity 0.3s ease;

}

.side-menu{

    position:fixed;
    top: 0;
    left: 0;
    
    width: 50vw;
    max-width: 420px;
    height: 100vh;
    background: rgba(15, 15, 20, 0.95);
   
    transform: translateX(-100%);
    transition: transform 0.4s ease;

    align-items: center;
    padding-top: 50px;
    padding-left: 70px;
    z-index: 999;

}


.side-menu.open{
    transform: translateX(0);
}

.side-menu  ul{
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.side-menu li{
    font-size: 1.5rem;
    font-weight: 500;
    margin:25px  0;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease,opacity 0.3s ease;
}

.side-menu li:hover{
    opacity: 1;
    color: #7dd3fc;
    transform: translateX(-6px);
    background:rgb(0, 0, 0);
    margin: 30px  0;
}

.navbar-icon:hover {
  transform: scale(1.05);
}
.navbar-icon:hover:not(.open) {
  transform: scale(1.05);
}

.navbar-icon.open span:nth-child(1){
    transform: rotate(45deg) translate(5px ,6px);
}

.navbar-icon.open span:nth-child(2){
    transform: translateX(24px); 
    opacity: 0; 
    
}

.navbar-icon.open span:nth-child(3){
    transform: rotate(-45deg) translate(10px , -10px);

}