.intro-container{
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at bottom , #05010f, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease;
}

.intro-container.fade-out{
    opacity: 0;
}
.intro-name{
    display: grid;
    text-anchor: middle;
    color: #fff;
    
    letter-spacing: 4px;
    animation: nameReveal 1s ease forwards;
    text-shadow:  0 0 20px rgba(173, 216, 230, 0.8);
    animation: bounceIn 0.1s ease;
   
    
}

.intro-role{
    font-size: 1rem;
    margin-top: 15px;
    opacity: 0;
    color: #aaa;
    animation: roleReveal 1s  ease forwards;
    animation-delay: 1s;
    animation: bounceIn 1.5s ease;
}

/* .intro-center{
    display: flex;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    z-index: 2;
}
.door{
    position: absolute;
    z-index: 3;
    top: 0;
    width: 50% ;
    height: 100%;
    background: #050505;
    transition: transform 1.3s ease-in-out;
}


.left-door{
    left: 0;
    transform-origin: left;
}


.right-door{
    right:0;
    transform-origin: right;
}

.intro-container.open .left-door{
    transform: translateX(-100%);
}

.intro-container.open .right-door{
    transform: translateX(100%);
}
.intro-container.open .intro-center{
    opacity: 0;
    transition: opacity 0.6s ease;
} */



@keyframes bounceIn {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.1); }
  70% { transform: scale(0.95); }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes nameReveal{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes roleReveal{
    to{
        opacity: 1;
    }
    
}