.intro-container{
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at bottom , #05010f, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease;
}

.intro-container.fade-out{
    opacity: 0;
}
.intro-name{
    display: grid;
    text-anchor: middle;
    color: #fff;
    
    letter-spacing: 4px;
    animation: nameReveal 2s ease forwards;
    text-shadow:  0 0 20px rgba(173, 216, 230, 0.8);
}

.intro-role{
    font-size: 1rem;
    margin-top: 15px;
    opacity: 0;
    color: #aaa;
    animation: roleReveal 1s  ease forwards;
    animation-delay: 1s;
}

@keyframes nameReveal{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes roleReveal{
    to{
        opacity: 1;
    }
}