.footer{
    font-size: 1rem;
    color: aliceblue;
    padding: 15px  25px;
    /* border-top: 1px solid rgba(255, 255, 255, 0.08); */
    /* background: rgba(10, 10, 15, 0.85); */
    

}

.footer p{
    text-align: end;
}
.mail-link {
    text-align: end;
    text-decoration: none;
    font-size: 1rem;
 

}
.mail-link a{
    text-decoration: none;
    color: bisque;
}
.mail-link a:hover{
    color: rgb(156, 255, 222);
}
.icon{
    padding-right:10px;
}




@media (max-width:425px){
    
    
    .footer{
         font-size: 0.85rem;
         padding-right: 13px;
      
    }
    .mail-link{
     
        font-size: 0.95rem;
    }

}

@media (max-width:768px){
    
}