.background-container{
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}
/* .background-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: (0.6) contrast(1.1);
    will-change: transform;
} */
.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: (0.6) contrast(1.1);
    will-change: transform;
}